.footer{
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;


  background-color: rgba(60,55,71,1);
}
.unlisted{
  list-style-type: none !important;
}
.logoFooter{
  filter: brightness(0.5);
}
