<div class="container">
  <div class="row">
    <div class="col d-xs-none">
      <img src="assets/img/login.png" width="100%" height="100%" alt="login">
    </div>
    <div class="col m-auto">
      <div class="row">
        <div class="col-10 mx-auto">
          <h1 class="h1 text-center">Login</h1>
 <form >
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" class="form-control input-round" placeholder="">

  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" class="form-control input-round" placeholder="">

  </div>
  <div class="my-5 pb-5"><a href="" class="float-right">Forgot your password?</a></div>
  <div class="text-center mx-auto">
    <button class="btn btn-lg btn-block btn-login" type="submit">Log in</button>
  </div>

 </form>
 <p>Don't have an account? <a routerLink="register" class="create float-right">create an account</a></p>
        </div>


      </div>
    </div>
  </div>
</div>
