<nav class="navbar navbar-expand-lg navbar-light bg-light menu">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/img/footerLogo.svg" width="200px" height="100px" alt="Unity">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="home">Home <i class="fa fa-chevron-down arrow" aria-hidden="true"></i>
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="about">About <i class="fa fa-chevron-down arrow" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="events">Events <i class="fa fa-chevron-down arrow" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="publications">Publications <i class="fa fa-chevron-down arrow" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="workspace">Workspace <i class="fa fa-chevron-down arrow" aria-hidden="true"></i></a>
        </li>
<li class="nav-item">
  <div class="input-group">
    <span class="input-group-append">
      <button class="btn bg-white border-end-0 border rounded-pill ms-n3" type="button">
          <i class="fa fa-search"></i>
      </button>
  </span>
    <input class="form-control border border-start-0 rounded-pill" type="text" value="search" id="example-search-input">

</div>
</li>
<li class=" float-right">
  <a routerLink="login" class="btn btn-purple">Sign in</a>
</li>
      </ul>

    </div>
  </div>
</nav>
